@charset "UTF-8"; /*Evita a inconpatibilidade com caracteres especiais*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*Fonte importada do fonts.googleapis.com*/

/*
01. Configurações globais: As configurações aqui definidas são utilizadas em toda página.
22. Váriaveis.
*/

/*
=================( 01 )=================
*/
*{ 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 300;
}
/*
=================( 02 )=================
*/
:root { 
    --Body-bg: hsl(270, 60%, 98%); /*Cor de fundo do corpo da página*/
    --Cor01: hsl(270, 50%, 73%); /*Cor mais utilizada na estilização da página*/
}
/*
========================================

Corpo da página*/

body{
    background-color: var(--Body-bg);
    background-size: cover;
    min-width: 300px;
}
/*Fim corpo da página

========================================

Principal*/
main{  
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5em;

}
a{
    text-decoration: none;
    color: var(--Cor01);
}
/*Fim principal

========================================

Imagem de "Perfil"*/
#pic{
    height: 155px;
    width: 155px;
    border: 0.1em solid var(--Cor01);
    border-radius: 50%;    
    padding: 0.3em;
    margin-bottom: 5px;
}
/*Fim imagem de "Perfil"

========================================

Botões-links*/
.box{
    display: flex;
    border: 0.1em solid var(--Cor01);
    padding: 0.7em 7em;
    margin: 0.5em;
}
/*Fim botões-links

========================================

Redes Sociais*/

section.social{
    display: flex;
    margin-top: 0.5em;
    padding:0 4em;
}
section.social a{
    padding: 2em 1.1em;
}

/*
Fim Redes Sociais

========================================
*/